.cell{
    background-color:rgb(240,240,240);
    outline-style:solid;
    outline-width:1px;
    outline-color:rgb(180,180,180);
    transition:0.4s;
}
body{
    display:grid;
    justify-content:center;
    margin-top:5%;
    background-color:rgb(20, 20, 50);
}
h1{
    display:grid;
    justify-self:center;
    color:white;
    font-family: sans-serif;
}
.buttonContainer{
    width: 550px;
    margin-top:30px;
    margin-bottom:35px;
}
.gridContainer{
    width:575px;
    height:575px;
    border-color:grey;;
    border-left-style:solid;
    border-top-style:solid;
    border-width:3px;
}
button{
    font-size:16px;
    padding:10px;
    margin-right: 10px;
    margin-left:70px;
    border-style:solid;
    border-color:black;
    width: 80px;
    border-radius:15%;
}
.red{
    display:grid;
    background-color:rgb(240, 50, 50);
    width:750px;
    height:750px;
    justify-items:center;
    border-radius:10%;
    box-shadow: 10px 10px 0px 7px rgb(200, 50, 50);
}